<img src="/images/242x82.png"> </img>


<div class="signup_block">



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <div class="section_block" id="section_block">
      <div class="login_content">
        <div class="login-head">
          <h1>Login</h1>
        </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="button">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
