<img src="/images/242x82.png"> </img>


<div class="signup_block">



  <%= form_for @document, :html => { :multipart => true } do|f| %>

      <div class="section_block" id="section_block">
        <div class="login_content">
          <div class="login-head">
            <h1 style="color:darkred"><center>Document Page</center></h1>
          </div><!--login-head-->
        </div>
<%#= form_for (:document) , url: documents_create_path, :html => { :multipart => true } do|f| %>
        <% if @document.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@document.errors.count, "error") %> prohibited
                this article from being saved:
              </h2>
              <ul>
                <% @document.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :Title %>
          <%= f.text_field :dname %>
        </div>

        <div class="form-group">

          <%= f.label :Author %>
          <%= f.text_field :dauthor %>
        </div>

        <div class="form-group">

          <%= f.label :Description %>
          <%= f.text_field :description %>
        </div>

        <div class="form-group">

          <%= f.label :team_Name %>
          <%= collection_select(:document, :team_id, Team.all , :id, :team_name, prompt: true) %>
        </div>

        <div class="form-group">

          <%= f.label :client_Name %>
          <%= collection_select(:document, :client_id, Client.all , :id, :c_name, prompt: true) %>
        </div>
        <div class="form-group"><label for="upload_file">Select File</label>
          <%= file_field 'document', 'dafile' %></div>

        <div class="form-group"><label for="upload_image">Select File</label>
          <%= file_field 'document', 'file2' %></div>

        <div class = "button">
          <%= f.submit %>
        </div>


  <% end %>


  <b><%= link_to 'Back', documents_path %></b>

  </div>
</div>




