<img src="/images/242x82.png"> </img>


<div class="signup_block">


  <%= form_for @role do |f| %>
      <div class="section_block" id="section_block">
        <div class="login_content">
          <div class="login-head">
            <h1>Role page</h1>
          </div>

          <% if @role.errors.any? %>
              <div id="error_explanation">
                <h2>
                  <%= pluralize(@role.errors.count, "error") %> prohibited
                  this article from being saved:
                </h2>
                <ul>
                  <% @role.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group">
            <%= f.label :RoleName %>
            <%= f.select(:role_name, options_for_select([['admin','Admin'],['Author','Author']])) %>
          </div>





          <div class= "button" >
            <%= f.submit %>
          </div>

  <% end %>
  <b><%= link_to 'Back', roles_path %></b>
  </div>
  </div>
</div>
