<%= link_to 'New role', new_role_path %>

<h3>Listing roles</h3>

<table>
  <tr>
    <th>Role-Name</th>


  </tr>

  <% @role.each do |role| %>
      <tr>
        <td><%= role.role_name %></td>


        <td><%= link_to 'Show', role_path(role) %></td>
        <td><%= link_to 'Edit', edit_role_path(role) %></td>
        <td><%= link_to 'Destroy', role_path(role),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>
