
<img src="/images/242x82.png"> </img>


<div class="signup_block">


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="section_block" id="section_block">
        <div class="login_content">
          <div class="login-head">
            <h1>Forgot your password?</h1>
          </div>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="button">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
